body{
    background-color: black;
}




.navbar{
    background-color: wheat;
    display: flex;
    align-items: center;
    height: 90px;
    
   
}
.logo{
    
    width: 50px;
    margin-left: 10px;
}
.hamburger-menu{
    
    width: 50px;
    margin-left: 100px;
    
}
.navbar-about-us{
    background-color:wheat;
    height: 90px;
    display: flex;
    align-items: center;
    display: flex;
   
}
.kruis{
    width:50px ;
    margin-left: 10px;
}
.about-us-page{
    margin-left: 50px;
    font-size: 50px;
    font-weight: bold;
   
}
.navbar-pc{
    display: none;
}
.hamburger{
    width: 50px;
    margin-left: 10px;
}

.home{
   
}
.hi{
    color: wheat;
    
}
.arrow{
    color: wheat;
   
}
.home{
   display: flex;
   text-align: center;
   align-items: center;
   flex-direction: column;
   border-style: solid;
   justify-content: center;
}
.pic{
    width: 300px;
    display: block;
    
}
.begin-text{
    font-size: 30px;
    font-weight: bold;
    
}
.div-img{
   
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    
}
.text-about-me{
    color:wheat ;
}
.for-free{
    font-size: 40px;

}
.who-i-am{
    font-size: 25px;
}
.social-media{
    color: wheat;
    margin-top: 150px;

    
    display: flex;
   flex-direction: column;
   align-items: center;
   line-height: 0px;
    
}
.world-pic{
    width: 360px;
    margin-bottom: 40px;
}
.see{
    font-size: 30px;
}
.look{
    margin-bottom: 8px;
    font-size: 20px;
}
.klick{
    font-size: 12px;
}
.yay{
    
}
.world{
    margin-top: 20px;
}
.insta{
    width: 100px;
}
.content-about-me{
    color: wheat;
    text-align: center;
    font-size: 25px;
   
}
.foto-tech{
    width: 300px;
}
.klick-tech{
    font-size: 15px;
    margin-top: 0px;
}
.i-live{
    margin-bottom: 5px;
}
.basket{
    width: 200px;
}
.tower{
    width: 300px;
}
.how{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.use{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    
}
.one{
    font-size: 20px;
    
}
.two{
    font-size: 20px;
}
.css{
    width: 100px;
}
.div-css{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.html{
    width: 100px;
}
.klick-html{
    font-size: 14px;
}

@media only screen and (min-width: 1000px) {
   .hamburger-menu{
    display: none;
   }
   .navbar-pc{
    display: flex;
    justify-content: space-evenly;
    
    height: 90px;
    width: 100%;
    align-items: center;
    
    


   }
   .navbar{
    display: flex;
    justify-content: space-between;
   }
   .div-logo{
    
    
   }
   .home-button, .about-us-button, .content-button, .why-button{
    background-color: red;
    font-size: 35px;
    border: none;
    cursor: pointer;
    line-height: 50px;
    font-weight: bold;
}
.home-button:hover{
    border-style: solid;
}
.about-us-button:hover{
    border-style: solid;
}
.content-button:hover{
    border-style: solid;
}
.why-button:hover{
    border-style: solid;
}



   
  }


  @media only screen and (min-width: 768px) 
  {
    .hamburger-menu{
       margin-left: 310px;
       
    }
    
  }




